<html>
    <head></head>
    <body>
        <h1>{{ data|length }} NHL Games on {{ date }}</h1>
        {% for game in data %}
        <h2>{{ game.away_team }} @ {{ game.home_team }}, {{ game.datetime }}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ game.away_team }}</th>
                    <th>Stat</th>
                    <th>{{ game.home_team }}</th>
                </tr>
            </thead>
            <tbody>
                {% for away_value, stat_name, home_value in game.stats %}
                <tr>
                    <td>{{ "%.2f"|format(away_value) }}</td>
                    <td>{{ stat_name }}</td>
                    <td>{{ "%.2f"|format(home_value) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </body>
</html>